
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;600&display=swap');

/* global */
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;    
}
h2{ 
    font-size: 40px;
    line-height: 54px;
    color: #222;    
}
h4{
    font-size: 20px;
    line-height: 12px;    
}
h6{
    font-weight: 700;
    font-size: 12px;
}
p{
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}
.section-p1{
    padding: 40px 80px;
}
.section-m1{
    padding: 40px 80px;
}
button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: white;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.5s ease;

}
button.white{
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: white;
    background-color: transparent;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid white;
    outline: none;
    transition: 0.4s ease;

}
marquee{
    background-color:#815b08;
    color: #fff;
}
body{
    width: 100%;
}

/* Header style */

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #E3E6F3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
    /* margin: 0 1rem; */
}
.logo{
    width: 50px;
    height: 50px;
}
.shopping-cart{
    margin-bottom: 5px;
    width: 30px;
    height: 30px;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    
    padding: 0 20px;

}
nav{
    padding: 0 20px;
    
}
nav a{
    position: relative;
    padding: 0 20px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color:#1a1a1a;
    transition: .3s ease;
}
nav a:hover,
nav a.active{
    color: #815b08;
    
}
nav a.active::after,nav a:hover::after{
    
    content: "";
    width: 30%;
    height: 2px;
    background: #815b08;
    position: absolute;
    bottom: -4px;
    left: 20px;
}
#mobile{
    display: none;
    align-items: center;
}


#close{
    display: none;
}
/* Billboard */
#billboard{
    background-image:url(../Assets/BillBoard.jpg);
    height:90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
#billboard h4{
    padding: 0 20px;
}

#billboard h1{
    padding: 0 20px;
    color: #815b08;
}
#billboard button{
    background-image: url(../Assets/button.png);
    background-color: transparent;
    color: #f4e0b3;
    border: 0;
    padding: 14px 90px 14px 65px;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
}

/* features */
#features .features-box{
    width: 150px;
    text-align: center;
    padding: 10px 5px;
    box-shadow: 20px 20px 34px rgba(96, 79, 45, 0.331);
    border: 1px solid #E3E6F3;
    border-radius: 4px;
    margin:  10px 0;
    transition: .3s ease;
}
#features .features-box:hover{
    padding: 10px 5px;
    border: 1px solid #E3E6F3;
    box-shadow: 10px 10px 54px rgba(96, 79, 45, 0.658);;
   
}
#features .features-box h6{
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #815b08;
    background-color:#f4e0b3;
    transition: .6s ease;
}
#features .features-box:hover h6{
    display: inline-block;
    padding: 12px 10px 8px 10px;
    line-height: 1;
    scale: 110%;
    /* font-weight: 800;
    font-size: 16px; */
    border-radius: 4px;
    color: #815b08;
    background-color:#f4e0b3;
}
#features .features-box img{
    margin-bottom: 10px;
    height: 100px;
    width: 100%;
}
#features{
    display: flex;
    align-items: center;
    justify-content:space-between;
    flex-wrap: wrap;

}

/* Product */
#product1{
    text-align:center;
}
#product1 .product-container{
    display: flex;
    justify-content: space-between;
    padding-top:20px;
    flex-wrap: wrap;
}
#product1 .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #b7a286;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: .3s ease;
    position: relative;
}
#product1 .pro:hover{
    box-shadow: 15px 15px 20px rgba(91, 74, 6, 0.235);
    border: 3px solid #b7a286;
    
}
#product1 .pro img{

    width: 100%;
    border-radius: 20px;
}
.star{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 30%;
}
.star img{
    width: 20px;
    height: 30px;
}
.pro-cart {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #f4e0b3;
    font-weight: 500;
    color: #815b08;
    border: 1px solid #E3E6F3;
    position:absolute;
    bottom: 20px;
    right: 10px;
    


} 
.pro-cart img{
    padding-top: 13%;
    padding-right: 8%;
    width: 10px;
    height: 30px;
   
}
#product1 .pro .des{
    text-align: start;
    padding: 10px 0;
}
#product1 .pro .des span{
    color: #606063;
    font-size: 12px;
}
#product1 .pro .des h5{
    padding-top:7px ;
    color: #1a1a1a;
    font-size: 14px;
}
#product1 .pro .des h4{
    padding-top: 7px;
    font-size: 17px;
    font-weight: 700;
    color: #088178;
}
/* Banner */

#banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(../Assets/banner/b1.jpg);
    width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center;   
}
#banner h4{
    color: rgb(125, 12, 154);
    font-size: 16px;
}
#banner h2{
    color:rgb(125, 12, 154);
    font-size: 30px;
    padding: 10px 0;
}
#banner h2 span{
    color: red;
}
#banner button:hover{
    background-color: #e3bc8a;
    color: #fff;
}

#small-banner .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    background-image: url(../Assets/banner/b3.jpg);
    width: 580px;
    height: 50vh;
    background-size: cover;
    background-position: center;   

    padding: 30px;
}
#small-banner .banner-box2{
    background-image: url(../Assets/banner/b2.jpg);


}


#small-banner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#small-banner h4{
    color: #fff;
    font-size: 20px;
    font-weight: 300;
}
#small-banner h2{
    color: #fff;
    font-size: 28px;
    font-weight: 800;
}
#small-banner span{
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;
}
#small-banner .banner-box:hover button {
    background:#e3bc8a;
    border: 1px solid #e3bc8a;
    scale: 120%;
}
#banner3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    text-align: center;
    padding: 0 80px;

}
#banner3 .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    background-image: url(../Assets/banner/b4.jpg);
    width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: center;   
    margin-bottom: 20px;
    padding: 20px;

}
#banner3 .banner-box2{
    background-image: url(../Assets/banner/b5.jpg);
}
#banner3 .banner-box3{
    background-image: url(../Assets/banner/b6.jpg);
}


#banner3 .banner-box h2{
   
    color: white;
    font-weight: 900;
    font-size: 15px;
}
#banner3 .banner-box h3{
   
    color: red;
    font-weight: 900;
    font-size: 15px;
}
/* Newsletter */
#newslatter{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url(../Assets/newsletter.jpg);
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #000;


}
#newslatter h4{
    font-size: 22px;
    font-weight: 700;
    color: white;
}
#newslatter p {
    font-size:14px;
    font-weight:700;
    color: rgb(118, 125, 125);
}
#newslatter p span{
    color: #e9ab5a;
}
#newslatter .form{
    display: flex;
    width: 40%;
}

#newslatter input{
    height: 3.125rem;
    padding: 0 1.25em;
    font-size:14px;
    width:100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
#newslatter button{
    background-color: #815b08;
    color: #fff;
    white-space: nowrap;
    
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#newslatter button:hover{
    background-color:  #fff;
    color: #815b08;
    border: 1px solid #815b08;
}



/* Footer */
.telegram{
    padding: 5px;
    cursor: pointer;
    height: 40px;
    width: 40px;
}
.telegram:hover{
    opacity: .3;
}
.instagram{
    padding: 5px;
    cursor: pointer;
    height: 40px;
    width: 40px;
}
.instagram:hover{
    opacity: .3;
}

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
footer .column{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
    padding: 20px;
}
footer h4{
    font-size: 14px;
    padding-bottom: 20px;
}
footer p{
    font-size: 13px;
    padding-bottom: 0 0 8px 0;
}
footer a{
    font-size: 13px;
    text-decoration: none;
    color: #000;
    margin-bottom: 10px;
}
footer a:hover{
    color: #815b08;
    text-shadow: #ecd79d52 3px 3px 3px ;
    
}
footer .follow{
    margin-top:20px;
    padding-right: 4px;
}

.footer-logo{
    margin-bottom:30px ;
    width: 50px;
    height: 50px;
}
.column-payment{
    width: 350px;
    height: 200px;
    margin: 10px 0 15px 0 ;
}
footer .copyright{
    width: 100%;
    text-align: center;
}







/* Shop page styles */
#shop-bb{
    background-image: url(../Assets/banner/b7.jpg);
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}

#shop-bb h2,#shop-bb p{
    color: white;
}
#pagination{
    text-align: center;

}
#pagination a{
    text-decoration: none;
    background-color: #815b08;
    padding: 15px 20px;
    border-radius: 5px;
    color: #fff;
    font-weight: 700;
    transition: .4s ease;


    
}
#pagination a:hover{
    background-color:#fff ;
    color: #815b08;
    outline: 1px solid #815b08;
}



/* Single product styles */
#pro-details .s-pro-img{
    width: 40%;
    margin-right:50px;
}
.sm-img-gr{
    display: flex;
    justify-content: space-between;
}
.small-img-column{
    flex-basis: 30%;
    cursor: pointer;
}
#pro-details{
    display: flex;
    margin-top: 20px;

}
#pro-details .single-pro-details{
    width: 50%;
    padding-top: 30px;
}


#pro-details .single-pro-details h4{
    padding:40px 0 20px 0;



}

#pro-details .single-pro-details h2{
    font-size: 26px;
    

}
#pro-details .single-pro-details select{
    display: block;
    padding: 5px 10px;
    margin-bottom:10px;
}
#pro-details .single-pro-details input{
    width: 50px;
    height: 47px;
    padding: 10px;
    font-size: 16px;
    margin-right:10px;
}
#pro-details .single-pro-details input:focus{
    outline: none;
}
#pro-details .single-pro-details .normal{
    background: #815b08;
    color: #E3E6F3;
    transition: .4s ease;
}
#pro-details .single-pro-details .normal:hover{
    background:#E3E6F3;
    color: #815b08  ;
    border: 1px solid #815b08;
}
#pro-details .single-pro-details span{
    line-height: 25px;
}


/* Blog page syle */
#shop-bb.blog-bb{
    background-image: url(../Assets/banner/b8.jpg);
}
#blog{
    padding: 150px 150px 0 150px;
}
#blog .blog-box{
    padding-bottom: 90px;
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
}
#blog .blog-img{
    width: 50%;
    margin-right: 40px;
}
#blog img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
#blog .blog-details{
    width: 50%;
}
#blog .blog-details a{
    text-decoration: none;
    font-size: 11px;
    color: #000;
    font-weight: 700;
    position: relative;
    transition: .4s ease;
}
#blog .blog-details a::after{
    content: "";
    width: 50px;
    height: 1px;
    background-color: #000;
    position: absolute;
    top: 4px;
    right: -60px;
}
#blog .blog-details a:hover{
    color: #a47309;
}
#blog .blog-details a:hover::after{
    background-color: #a47309;
}
#blog .blog-box h1{
    position: absolute;
    top:-50px;
    left: 0;
    font-size: 70px;
    font-weight: 700;
    color: #815b088d;
    z-index: -9;

}



/* About Page style */
#shop-bb.about-bb{
   background-image: url(../Assets/banner/b9.jpg);
}

#about-headline{
    display: flex;
    align-items: center;
}
#about-headline img{
    height: auto;
    width: 50%;
}
#about-headline div{
    padding-left: 40px;
}
#about-vp {
    text-align:center;

}
#about-vp .video {
    display: flex;
    flex-direction: row;
    width: 70%;
    height: 70%;
}
.gif-details{
    display: flex;
    text-align: start;
    padding-left:40px ;    
    width: 100%;
    height: 100%;
    margin-top: 3%;
    border-radius: 20px;
}
#about-vp .video video{
    width: 70%;
    height: 70%;
    border-radius: 20px;
}

/* Contact page */
#shop-bb.contact-bb{
    background-image: url(../Assets/banner/b11.webp);
}
.icon{
    width: 30px;
    height: 30px;
}
#contact-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#contact-details .details{
    width: 40%;
}
#contact-details .details span,
#form-details form span{
    font-size: 12px;
}
#contact-details .details h2,
#form-details form h2{
    font-size: 26px;
    line-height: 35px;
    padding:20px 0;
}
#contact-details .details h3{
    font-size: 16px;
    padding-bottom: 15px;
}
#contact-details .details h3{
    font-size: 16px;
    padding-bottom: 15px;
}
#contact-details .details .container{
    display: flex;
    padding: 10px 0;
    align-items: center;
    
}
#contact-details .map{
    width: 55%;
    height:400px;
}
#contact-details .map iframe{
    width: 100%;
    height:100%;
}
#form-details form{
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#form-details form input{
    width: 100%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid #fff;
}
#form-details form input,
#form-details form  textarea{
    width: 100%;
    padding:  12px 15px;
    outline: none;
    margin-bottom:20px;
    border: 1px solid #E3E6F3;
}
#form-details form button{
    color: #ffffff;
    background-color: #a47309;
    transition: .4s ease;
}
#form-details form button:hover{
    color:  #a47309;
    background-color:#ffffff ;
    outline: 3px solid#815b08;
}
#form-details{
    display: flex;
    flex-direction: row;
}
.me{
    width: 120px;
    height: 110px;
    border-radius: 50%;
}
.developer{
    padding-left: 50px;
}

.developer div{
    padding-bottom: 25px;
    display: flex;
    align-items: flex-start;
}
.developer div p{
    margin: 0;
    font-size: 13px;
    line-height:25px;
}
.developer div p span{
    display: block;
    font-size: 16px;
    font-weight: 800;
    color: #000;
}



/* cart page */

.remove{padding: 20px;
}
 #cart table{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
 }
 #cart table img{
    width: 70px;
 }
 #cart table td:nth-child(1){
    width: 100px;
    text-align: center;
 }
 #cart table td:nth-child(2){
    width: 150px;
    text-align: center;
 }
 #cart table td:nth-child(3){
    width: 200px;
    text-align: center;
 }
 #cart table td:nth-child(4),
 #cart table td:nth-child(5),
 #cart table td:nth-child(6){
    width: 150px;
    text-align: center;
 }
 #cart table td:nth-child(5) input{
    width: 70px;
    padding:10px 5px 15px 10px;
 }
 #cart table thead{
    border: 1px solid #E3E6F3;
    border-radius: 5px;
    border-left: none;
    border-right: none;
 }
 #cart table thead td{
    font-weight: 700;
    text-transform:uppercase;
    font-size: 13px;
    padding: 18px 0 ;
 }
 #cart table tbody tr td{
    padding-top: 15px;
 }
 #cart table tbody td{
    font-size: 14px;
 }
 #cart-add{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
 }
 #coupon{
    width: 50%;
    margin-bottom: 30px;
 }
 #coupon h3,#subtotal h3{
    padding-bottom: 15px;

 }
#coupon input{
    padding: 10px 20px;
    outline:none;
    width: 60%;
    margin-right: 10px;
    border: 1px solid #a47309;

}
#subtotal button{
    background-color:  #a47309 ;
    color:#E3E6F3;
    padding: 12px 20px;
}

#coupon button{
    background-color: #a47309;
    color: #E3E6F3 ;
    padding: 12px 20px;

}
#subtotal button:hover{
    background-color:  #E3E6F3;
    color: #a47309;
    padding: 12px 20px;
    outline: 1px solid #a47309;
}

#coupon button:hover{
    background-color:#E3E6F3 ;
    color: #a47309 ;
    padding: 12px 20px;
    outline: 1px solid #a47309;

}
#subtotal{
    width: 50%;
    margin-bottom: 30px;
    border: 1px solid #E3E6F3;
}
#subtotal table{
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;

}
#subtotal table td {
    width:50%;
    border: 1px solid #E3E6F3;
    padding: 10px;
    font-size: 13px;
}
#subtotal {
    width: 50%;
    padding: 10px;
    margin-bottom: 30px;
    border: 1px solid #E3E6F3;
}












































/* Making Responsive for Tablet */
@media (max-width:799px) {
    .section-p1{
        padding: 40px 40px;
    }
    #navbar-main{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width:300px;
        background-color: #E3E6F3;
        box-shadow: 0 40px 60px rgba(123, 152, 152, 0.482);
        opacity: .983;
        padding: 80px 0 0 10px;
        transition: .4s;
        
    }
    #navbar-main a{
        margin-bottom: 25px;
    }

    #navbar-main.active{
        right: 0px;

    }
    #menu-icon{
        margin-left: 20px;
        width: 40px;
        height:40px;
    }
    #close{
        display: initial;
        position: absolute;
        width: 30px;
        height:30px;
        top: 20px;
        left: 18px;
    }
    .menu-icon:hover{
       opacity: .4;
    }
    #mobile{
        display: flex;
        align-items: center;
    }
    #mobile{
        display: flex;
        align-items: center;
    }
    #lg-cart {
        display: none;
    }
    #billboard {
        background-position: top 30% right 60%;        
        height: 70vh;
        padding: 0 80px;
        
    }
    #features {
        justify-content: center;
       
    }
    #features .features-box {
        margin: 15px 15px;
      
    }
    #product1 .product-container {
       
        justify-content: center;
    }
    #product1 .pro {
        margin: 15px ;
        
    }
    #banner {
        height: 20vh;
    }
    #small-banner .banner-box {
        min-width: 30%;
        height: 30vh;
        width: 100%;
    }
    #banner3 {
        padding: 0 40px;
    }
    #banner3 .banner-box {
        min-width: 28%;
    }
    #newslatter .form {
        display: flex;
        width: 60%;
    }

    /* blog page */
    
    #blog{
        padding: 70px 20px 0 20px;
    }
    /* About Page */
    #about-vp .video {
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }
    
    .gif-details{
    display: flex;
    text-align: center;
    padding-left:40px ;    
    width: 100%;
    height: 100%;
    margin-top: 3%;
    margin-right: 40px;
    border-radius: 20px;
}

       
}
/* Making Responsive fot Phone */
@media (max-width:477px) {
    .section-p1{
        padding: 20px;
    }
    header{
        padding: 10px 30px;
    }
    #billboard {
       
        background-position: 25%;
        padding: 0 20px;
    }
    h2 {
        padding:0 1rem;
        font-size: 32px;
    }
    h1{
        font-size: 38px;
    }
    p {
        font-size: 16px;
        color: #465b52;
        margin: 15px 0 20px 0;
        padding-left:20px ;
    }
    #features .features-box {
        width: 155px;
        box-shadow: 10px 10px 10px rgba(96, 79, 45, 0.17);
        margin: 0 10px 20px 0;
    }
    #product1 .pro {
        width: 100%;
        padding:0 1rem;
        margin: 20px;
    }
    #banner {
        height: 40vh;
    }
    #small-banner .banner-box {
        margin-top: 20px;
    }
    #banner3{
        padding: 0 20px;
        display: flex;
        flex-direction: column;
    }
    #banner3 .banner-box {
        min-width: 100%;
    }
    #newslatter {padding: 40px;
    }
    #newslatter .form {
        
        width: 100%;
    }

    /* single product */
    #pro-details {
        display: flex;
        flex-direction: column;
    }
    #pro-details .s-pro-img {
        width: 100%;
        margin-right: 0px;
    }
    #pro-details .single-pro-details {
        width: 100%;
    }




    /* Blog page */
    #blog .blog-box{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    #blog{
        padding: 100px 20px 0 20px;
    }
    #blog .blog-img{
        width:100%;
        margin-right: 0px;
        margin-bottom: 30px;
    }
    #blog .blog-details{
        width: 100%;
    }
    /* about page */
    #about-headline {
        text-align: center;
        display: block;
        flex-direction: row;
        
    }
    #about-headline div {
        padding-left: 0px;
    }
    
    #about-headline img{
      height: auto;
      width: 100%;
    }
    p {
        font-size: 16px;
        color: #465b52;
        margin: 15px 0 20px 0;
        padding-left: 0px;
    }

    /* contact page */

    #contact-details {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    #contact-details .details {
        width: 100%;
    }
    #form-details {
        display: flex;
        flex-direction: column;
    }
    #form-details form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .developer {
        display: flex;
        align-items: center;
        padding: 30px;
    }
    .developer p{
        padding-left: 10px;
    }
    .me{
        width: 110px;
        height: 90px;
        border-radius: 50%;
    }
    #contact-details .map{
        width: 100%;
        height:400px;
    }
    
}
@media (max-width:1024px){
    #about-vp .video {
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }
    
    .gif-details{
        display: flex;
        text-align: center;
        padding-left:40px ;    
        width: 100%;
        height: 100%;
        margin-top: 3%;
        margin-right: 40px;
        border-radius: 20px;
    }

    

}